/* GENERAL */
*{
    font-family: 'Raleway', sans-serif;
    color: black;
    text-decoration: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    gap: 30px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}
.section-title-2 {
    margin: 0;
    font-size: 18px;
}
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.small-gap {
    gap: 15px;
}

.medium-gap {
    gap: 30px;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.infos-txt {
    font-size: 18px;
    font-weight: bold;
}

/* HEADER */
.logo {
    height: 100px;
}

.logo img {
    height: 20px;
}

.menu {
    gap: 60px;
}

.menu a {
    padding-top: 15px;
    padding-bottom: 0;
}

.menu a:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/* INFORMATIONS */
input {
    text-align: center;
    height: 50px;
    border: none;
}

.square {
    background: var(--main-bg-color);
    width: 50px;
    height: 50px;
    border-radius:  15px 0 0 15px;
    justify-content: center;
}

.search {
    background: var(--main-color);
    color: white;
    height: 50px;
    width: 120px;
    border-radius: 0 15px 15px 0;
    border: none;
}

.filter {
    gap: 15px;
    height: 50px;
    background: white;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    padding: 0 17px;
}

.filter:hover {
    background: var(--filter-bg-color);
}

.circled {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    border: 1px solid #d9D9D9;
    justify-content: center;
}

/* HEBERGEMENTS AND POPULAIRES */
.hebergements-and-populaires {
    gap: 40px;
}

section {
    background: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

.card-content {
    padding-left: 15px;
    box-sizing: border-box;
    justify-content: space-between;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-subtitle {
    margin: 0;
    font-size: 14px;
}

.card-rating {
    margin-bottom: 5px;
}

/* HEBERGEMENTS */
.hebergements {
     width: 67%;
}

.hebergements-cards {
    flex-wrap: wrap;
}

.hebergements-cards .card {
    width: 29%;
}

.hebergements img{
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0 0 ;
}

/* POPULAIRES */
.populaires {
    width: 30%;
}

.populaires img {
    width: 35%;
    height: 130px;
    border-radius: 15px 0 0 15px;
}

/* ACTIVITES */
.activites {
    padding: 30px;
}

.activites img {
    width: 290px;
    height: 90%;
    border-radius: 15px 15px 0 0;
}

/* FOOTER */
.footer {
    padding: 30px;
    background: var(--main-bg-color);
    gap: 280px;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements, .populaires {
        width: 94%;
    }

    .populaires-cards {
        flex-direction: row;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .activites-cards .card {
        width: 30%;
    }

    .activites img {
        width: 100%;
        height: 80%;
    }
    
    .footer {
        gap: 130px;
    }
}    

@media (max-width:767.98px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .logo {
        justify-content: center;
        width: 100%;
    }

    .menu {
        justify-content: space-around;
        width: 100%;
    }

    .menu a {
        padding-top: 0;
        padding-bottom: 15px;
    }
    
    .menu a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .filter-btn {
        width: 98%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filter {
        width: 45%;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .hebergements {
        background: white;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements, .populaires {
        width: 91%;
    }

    .hebergements .mobile-card {
        width: 98%;
        height: 280px;
    }

    .hebergements img {
        height: 70%;
    }

    .populaires .mobile-card{
        width: 98%;
        height: 180px;
    }

   .populaires img {
        height: 180px;
    }

    .activites .mobile-card {
        width: 98%;
        height: 280px;
    }

    .activites-cards {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        gap: 30px;
    }
} 